@model DAL.ListaDeseoProducto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ListaDeseoProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListaID" />
            <!--<div class="form-group">
                <label asp-for="ListaID" class="control-label"></label>
                <select asp-for="ListaID" class ="form-control" asp-items="ViewBag.ListaID"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="ListaID" class="control-label"></label>
                <input type="text" class="form-control" asp-for="ListaID" disabled="disabled" />
                <input type="hidden" asp-for="ListaID" />
            </div>-->
            
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId" disabled="disabled"></select>
                <input type="hidden" asp-for="ProductoId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
