@model DAL.ListaDeseoProducto

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />

<div class="home">
    <h3>¿Seguro que quieres eliminar este producto de tu lista de deseos?</h3>
    <br />
    <hr />
    <br />
    <dl>
        <h4>@Html.DisplayFor(model => model.Producto.Nombre)</h4>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ListaDeseoProductoId" />
        <input type="submit" value="Eliminar" class="w-100 btn btn-lg  btn-dark" />
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
    </form>
</div>
