@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Ingresos</h1>
<h5>Venta de servicios y productos</h5>
<div>
    <div class="card-group">
        <div class="card">
        <div class="card-header">
        Numero de consecutivo: #546987<br />
        Fecha: 08/04/2024
        </div>
        <div class="card-body">
        <h5 class="card-title">Ciente: Sara Aguilar</h5>
                <h6>Productos:</h6>
        <p>     Shampoo ________________________ ₡15 000
        <br />  Gotas Argan _____________________ ₡10 000
        <br />  Acondicionador __________________ ₡10 000
        <br /> </p>
                <h6>Servicios:</h6>
                <p>
                Keratina _________________________ ₡40 000
        <br />  Corte ____________________________ ₡5 000
        <br /> </p>
       
        </div>
            <div class="card-footer">
                Total:  ₡80 000
        </div>
        </div>


        <div class="card">
        <div class="card-header">
                Numero de consecutivo: #546987<br />
                Fecha: 08/04/2024
            </div>
            <div class="card-body">
                <h5 class="card-title">Ciente: Sara Aguilar</h5>
                <h6>Productos:</h6>
                <p>
                    Shampoo ________________________ ₡15 000
                    <br />  Gotas Argan _____________________ ₡10 000
                    <br />  Acondicionador __________________ ₡10 000
                    <br />
                </p>
                <h6>Servicios:</h6>
                <p>
                    Keratina _________________________ ₡40 000
                    <br />  Corte ____________________________ ₡5 000
                    <br />
                </p>

            </div>
            <div class="card-footer">
                Total:  ₡80 000
            </div>
        </div>

        <div class="card">
        <div class="card-header">
                Numero de consecutivo: #546987<br />
                Fecha: 08/04/2024
            </div>
            <div class="card-body">
                <h5 class="card-title">Ciente: Sara Aguilar</h5>
                <h6>Productos:</h6>
                <p>
                    Shampoo ________________________ ₡15 000
                    <br />  Gotas Argan _____________________ ₡10 000
                    <br />  Acondicionador __________________ ₡10 000
                    <br />
                </p>
                <h6>Servicios:</h6>
                <p>
                    Keratina _________________________ ₡40 000
                    <br />  Corte ____________________________ ₡5 000
                    <br />
                </p>

            </div>
            <div class="card-footer">
                Total:  ₡80 000
            </div>
        </div>
</div>
</div>

<br />
<h1>Gastos</h1>
<h5>Compra de productos y pago de servicios publicos</h5>
<div>
    <div class="card-group">
        <div class="card">
            <div class="card-header">
                Numero de consecutivo: #546987<br />
                Fecha: 08/04/2024
            </div>
            <div class="card-body">
                <h5 class="card-title">Proveedor: Salerm</h5>
                <h6>Productos:</h6>
                        <p>5 Acondicionador __________________ ₡75 000
                    <br /> 10 Salerm Boost ___________________ ₡100 000
                    <br />
                </p>
            </div>
            <div class="card-footer">
                Total:  ₡175 000
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Numero de consecutivo: #546987<br />
                Fecha: 08/04/2024
            </div>
            <div class="card-body">
                <h5 class="card-title">Proveedor: ICE</h5>
                <h6>Servicios:</h6>
                        <p>Internet _________________________ ₡30 000
                     <br />Luz ______________________________ ₡40 000
                    <br />
                </p>
            </div>
            <div class="card-footer">
                Total:  ₡70 000
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Numero de consecutivo: #546987<br />
                Fecha: 08/04/2024
            </div>
            <div class="card-body">
                <h5 class="card-title">Proveedor: Super Salon</h5>
                <h6>Productos:</h6>
                        <p>5 Shampoo _________________________ ₡75 000
                    <br />10 Gotas Argan ____________________ ₡100 000
                    <br />
                </p>
            </div>
            <div class="card-footer">
                Total:  ₡175 000
            </div>
        </div>
    </div>
</div>

<br />

<a asp-action="Details" class="boton-izquierda btn btn-dark"> Registrar Cierre</a>
<br />
<br />
<a asp-controller="Reportes" asp-action="Index" class="boton-izquierda btn btn-dark"> Generar Reporte a Hacienda</a>
<br />
<br />

<a asp-controller="Reportes" asp-action="Index" class="boton-izquierda btn btn-dark"> Generar Reporte Balance General</a>