@using DAL

<br />
<div class="titulos_cat">
    <h1>FACTURA<br><p style="font-weight: normal; font-size: 20px">Consecutivo: @ViewBag.Consecutivo</p></h1>
</div>

<br />
<table>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
    </tr>
    @foreach (var item in ViewBag.ProductosEnCarrito)
    {
        <tr>
            <td>@item.Producto.Nombre</td>
            <td>@item.Cantidad</td>
            <td>₡@item.Producto.Precio</td>
        </tr>
    }
</table>

<p>Total: ₡@ViewBag.Total</p>

<a onclick="window.print()" class="btn btn-dark" asp-controller="Carrito" asp-action="ImprimirFactura">Imprimir factura</a>