################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POS_BeautySalon/POS_BeautySalon/Controllers/PromocionesController.cs
