@model DAL.Producto

@{
    ViewData["Title"] = "Editar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row registration-section">
    <h2>Editar Producto</h2>
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductoId" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ImagenProducto" class="form-label">Imagen del Producto</label>
                    <input type="file" accept="image/png" class="form-control" name="ImagenProducto" />
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioProveedor" class="control-label"></label>
                    <input asp-for="PrecioProveedor" class="form-control" />
                    <span asp-validation-for="PrecioProveedor" class="text-danger"></span>
                </div>                
                <div class="form-group">
                        <label asp-for="Estado"></label>
                        <select asp-for="Estado" class="form-control">
                            <option value="1" selected="@Model.Estado == 1">Activo</option>
                            <option value="0" selected="@Model.Estado == 0">Desactivado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MarcaId" class="control-label"></label>
                    <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.MarcaId"></select>
                    <span asp-validation-for="MarcaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProveedorId" class="control-label"></label>
                    <select asp-for="ProveedorId" class="form-control" asp-items="ViewBag.ProveedorId"></select>
                    <span asp-validation-for="ProveedorId" class="text-danger"></span>
                </div>
                <br />
                <div class="text-center">
                <input type="submit" value="Guardar" class="w-50 btn btn-lg  btn-dark" />
                <br />
                <br />
                <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                </div>
            </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}