@model DAL.ProductoLealtad

<div class="row fondoTransparente">
    <h1>Crear Producto</h1>
    <hr />
    <br />
    <div class="col-md-7">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenProductolealtad" class="control-label"></label>
                <input asp-for="ImagenProductolealtad" class="form-control" type="file" />
                <span asp-validation-for="ImagenProductolealtad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioPuntos" class="control-label"></label>
                <input asp-for="PrecioPuntos" class="form-control" />
                <span asp-validation-for="PrecioPuntos" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" style="background-color:pink; color: black;" value="Crear" class="w-50 btn btn-lg  btn-dark" />
                <a asp-action="Index" class="w-100 btn btn-lg btn-dark">Volver a la lista</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
