@model DAL.ProductoLealtad

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row registration-section">
    <h2>Editar Producto</h2>
    <hr />
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProductoLealtadId" />
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ImagenProductolealtad" class="form-label">Imagen del Producto</label>
            <input type="file" accept="image/png" class="form-control" name="ImagenProductolealtad" />
        </div>
        <div class="form-group">
            <label asp-for="PrecioPuntos" class="control-label"></label>
            <input asp-for="PrecioPuntos" class="form-control" />
            <span asp-validation-for="PrecioPuntos" class="text-danger"></span>
        </div>
        <div class="text-center">
            <input type="submit" value="Guardar" class="w-50 btn btn-lg  btn-dark" />
            <br />
            <br />
            <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
