@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<body>
    <div class="contenedor-log">
        <h2 class="h2-log">Iniciar Sesión</h2>
        <form class="form-log" action=" #">
            <label class="label-log" for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" required>

            <label class="label-log" for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <button class="button-log" type="submit">Iniciar Sesión</button>
            <br />
            <br />
            <button class="button-log btn btn-success" type="button" >Registrarse</button>
        </form>
        <a href="#" class="recuperar-contrasena">¿Olvidaste tu contraseña?</a>
    </div>
</body>

