@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->


<body>
    <br />
    
    <br />

    <h1 class="titulos_cat">PRODUCTOS</h1>
    <div class='cards'>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Acondicionador</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 8.000</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">50 pls</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 20 de junio 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Aceite</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 25.500</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">40 pls</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 15 de mayo 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Shampoo</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 18.000</h6>
                        <h6 style="color: darkcyan; font-weight: bold;">55 pls</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 05 de agosto 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h1 class="titulos_cat">SERVICIOS</h1>

    <div class='cards'>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Corte de Cabello</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 8.000</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 20 de agosto 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Keratina</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 25.500</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 15 de julio 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Maquillaje</h5>
                        <h6 style="color: blue; font-weight: bold;">₡ 18.000</h6>
                        <p style="color: darkred; font-weight: bold;">Caducidad: 10 de abril 2024</p>
                        <br />
                        <br />
                        <a class="btn btn-dark">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>