@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglas de acumulación de puntos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!--para administrador-->
    <br />

    <a asp-action="Details" class="btn btn-dark" style="text-align:end;">Editar reglas</a>
    <div class="carta">
        <h1>Reglas de acumulación de puntos (pls)</h1>
        <p>¡Bienvenido a nuestro Programa de Lealtad!</p>
        <ul>
     
           <li>Cuando llegues a acumular 10 compras de productos o 5 de servicios, obtendras acceso al programa de lealtad .</li>
            <li>Por cada compra mayor a 15mil colones, acomularas 10 pls en tu programa de lealtad.</li>

           <li>Podrás canjear tus puntos acumulados por descuentos en futuras compras.</li>
            <li>Los puntos acumulados tienen una validez de 1 año para ser usados desde la fecha de la compra. 
                En caso contrario, se reiniciara la cantidad de pls.</li>
            <li>Los puntos no son transferibles a otras personas ni canjeables por efectivo.</li>
        
        
        </ul>
    </div>

    <br /> 
   

</body>
</html>
