@model DAL.Proveedor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row registration-section">
    <h1>Editar</h1>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProveedorId" />
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Puntualidad" class="control-label"></label>
            <input asp-for="Puntualidad" class="form-control" />
            <span asp-validation-for="Puntualidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Calidad" class="control-label"></label>
            <input asp-for="Calidad" class="form-control" />
            <span asp-validation-for="Calidad" class="text-danger"></span>
        </div>
        <br />
        <div class="text-center">
            <input type="submit" value="Guardar" class="w-50 btn btn-lg  btn-dark" />
            <br />
            <br />
            <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
