<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - POS_BeautySalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/POS_BeautySalon.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">POS_BeautySalon</a>-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar container-fluid navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-1">
                <img class="logoimg" src="~/Imagenes/logo3.png" alt="Logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.IsInRole("Cliente"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="CatalogoProd">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ListaDeseoProductos" asp-action="Index">Lista de deseos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Servicios" asp-action="CatalogoServ">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Citas" asp-action="Index">Citas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Carrito" asp-action="Index">Carrito</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="nav-item">               

                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Administación</a>
                            </li>
                        }

                        @if (User.IsInRole("Estilista"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                            </li>
                            <li class="nav-item">               

                                <a class="nav-link text-dark" asp-area="" asp-controller="Cierre" asp-action="Index">Cierre de Caja</a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="CarritoProveedores" asp-action="Index">Pedidos </a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link text-dark" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores </a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer id="footer" class="text-center text-lg-start text-muted">
        <!-- Section: Links  -->
        <div class="footercolor">
            <section class="">
                <div class="container text-center text-md-start mt-5 mb-2">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Horarios
                            </h6>
                            <p>Lunes a Viernes</p>
                            <p>
                                9 am a 7 pm
                            </p>
                            <p>
                                Sabado y Domingo
                            </p>
                            <p>
                                10 am a 8 pm
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Nuestras redes
                            </h6>
                            <p>
                                <a href="https://www.facebook.com" class="text-reset">Facebook</a>
                            </p>
                            <p>
                                <a href="https://www.instagram.com" class="text-reset">Instagram</a>
                            </p>
                            <p>
                                <a href="https://www.whatsapp.com" class="text-reset">Whatsapp</a>
                            </p>
                            <p>
                                <a href="https://www.tiktok.com" class="text-reset">TikTok</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3"></i>San Pablo de Barva, Heredia.</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                beautySalon@email.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> + 506 8525 6219</p>
                            <p><i class="fas fa-print me-3"></i> + 506 234 567 89</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="">beauty Salon</a>
            </div>
            <!-- Copyright -->
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
