<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<br />

            <div class="form-group">
                <h3>Numero de consecutivo:</h3>
                <input type="text" class="form-control" style="width: 18rem;">
          </div>
            
            <br />
            <br />
        <table class="table">
            <thead class="table-dark">
                <tr>
                    
                    <th scope="col">Producto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Individual</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            <tr>
      <td>Gotas</td>
      <td>Gotas de argan</td>
      <td>Imagen</td>
      <td>5</td>
      <td>₡2000</td>
      <td>
                <a href="" style="text-decoration: none;">+</a> |
                <a href="" style="text-decoration: none;">-</a> <br />
                <a href="" style="text-decoration: none;">Delete</a>
            </td>
    </tr>
    <tr>
      <td>Acondicionador</td>
      <td>Acondicionador para cabello decolorado</td>
      <td>Imagen</td>
      <td>1</td>
      <td>₡15000</td>
      <td>
                <a href="" style="text-decoration: none;">+</a> |
                <a href="" style="text-decoration: none;">-</a> <br />
                <a href="" style="text-decoration: none;">Delete</a>
            </td>
    </tr>
        </tbody>
    <tfoot>
          <tr>
            <td colspan="7" style="font-size: 20px; font-weight: bold;">Total: ₡</td>

          </tr>
        </tfoot>
      </table>

<a class="btn btn-dark">Imprimir factura</a>
<br />
<br />
          <br />

          <h3>Metodos de pago</h3>
          <a class="btn btn-dark">Sinpe</a>
          <a class="btn btn-dark">Transferencia</a>
          <a class="btn btn-dark">Efectivo</a>
      
        <br />


        <div class="card" style="left: -20px;">
  <div class="card-body">
    <h5 class="card-title">Informacion de pago</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Transferencia Bancaria</h6>
    <p>Numero de cuenta BCR: 2365 9865 3214 1254</p>
<h6 class="card-subtitle mb-2 text-body-secondary">SINPE Movil</h6>
    <p>Numero de telefono: 8525 3219</p>
                          
  </div>
</div>



</html>