<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Promoción</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="body-ap">
    <div class="formulario-ap">
        <h2 class="h2-ap">Agregar Promoción</h2>
        <form action="#">
            <div class="campo">
                <label class="label-ap" for="tipo">Tipo de Promoción:</label>
                <select id="tipo" name="tipo" required>
                    <option value="">Selecciona el tipo de promoción</option>
                    <option value="Descuento">Descuento</option>
                    <option value="2x1">2x1</option>
                    <option value="Regalo">Regalo</option>
                </select>
            </div>
            <div class="campo">
                <label class="label-ap" for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>
            <div class="campo">
                <label class="label-ap" for="caducidad">Tiempo de Caducidad:</label>
                <input type="date" id="caducidad" name="caducidad" required>
            </div>
            <button type="submit">Agregar Promoción</button>
        </form>
    </div>
</body>
</html>
