<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
    <head>
        <title>Promociones</title>

    </head>

    <body>


    <!--Boton para estilista-->
    <br />
    <br />
    <!-- --><a asp-action="Details" class="btn btn-dark" style="text-align:end;">Agregar Promociones</a>

        <br><br>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Promociones Activas</h1>
                <p class="lead">Promociones por tiempo limitado. Aprovecha nuestros descuentos especiales.</p>
                <hr class="my-4">
                <p class="lead">Si ya eres parte de nuestro programa de lealtad, podras tener descuentos especiales en 
                    nuestros servicios o productos.</p>

        <div class="promotions-container">
            <ul class="promotion-list">
                <li class="promotion-item">
                    <h3>Shampoo</h3>
                        <p class="original-price">Precio Anterior: <span>₡10.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡8.000</span></p>
                </li>
                <li class="promotion-item">
                        <h3 style="color: hotpink">Exclusivo para programa de lealtad</h3>
                    <h3>Crema para el Rostro</h3>
                        <p class="original-price">Precio Anterior: <span>₡15.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡12.000</span></p>
                </li>
                <li class="promotion-item">
                    <h3>Gel para Cabello</h3>
                        <p class="original-price">Precio Anterior: <span>₡8.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡6.500</span></p>
                </li>
                <li class="promotion-item">
                    <h3>Maquillaje</h3>
                        <p class="original-price">Precio Anterior: <span>₡20.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡16.000</span></p>
                </li>
            </ul>

                <ul class="promotion-list">
                    <li class="promotion-item">
                        <h3>Aceite de coco</h3>
                        <p class="original-price">Precio Anterior: <span>₡20.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡15.000</span></p>
                    </li>
                    <li class="promotion-item">
                        <h3 style="color: hotpink">Exclusivo para programa de lealtad</h3>
                        <h3>Botox capilar para cabello largo</h3>
                        <p class="original-price">Precio Anterior: <span>₡60.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡45.000</span></p>
                    </li>
                    <li class="promotion-item">
                        <h3 style="color: hotpink">Exclusivo para programa de lealtad</h3>
                        <h3>Mechas californeanas con corte mariposa</h3>
                        <p class="original-price">Precio Anterior: <span>₡45.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡30.500</span></p>
                    </li>
                    <li class="promotion-item">
                        <h3>Acondicionador Silver para cabello cenizo</h3>
                        <p class="original-price">Precio Anterior: <span>₡25.000</span></p>
                        <p class="discount-price">Precio en Promoción: <span>₡18.000</span></p>
                    </li>
                </ul>
        </div>

</body>
<br />

</html>