<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty Salon</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<br />
<br />
<body>
    <div class="fondoTransparente">
        <div style="text-align: center;">
            <img class="logo1" src="Imagenes/logo3.png" alt="Logo" style="display: block; margin: 0 auto;">
            <img class="logo" src="Imagenes/logo.png" alt="Logo" style="display: block; margin: 0 auto;">
        </div>
        <br />
        <br />
        <h4 class="desc">
            No dejes que tu vida pase ante tí, sin emoción alguna. Conviertete en una estrella del
            glamour, de la mano de nuestros especialistas. Tu cabello y cutis merecen ser tratados como
            una obra de arte. Ven y realiza el cambio que tanto anhelas. Ofrecemos diferentes servicios de
            belleza tanto para mujeres como para hombres. Tu cuerpo es tu templo y tu lugar de vida.
        </h4>
    </div>


    <br />
    <br />
    <!-- Footer -->
    <!-- Footer -->
</body>

</html>
