

<br />

<h1>AGENDA TU CITA</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Agendar Cita</a>
    

    <br />
    <div class="contenedor-busq">
        <div class="busqueda">
            <input type="text" placeholder="Buscar...">
            <button><img src="~/Imagenes/filtro.jpg" alt="Filtro"></button>
        </div>
    </div>
    <br />

<br />

<table class="table">
        <thead class="table-dark">
    <tr>
      <th scope="col">Numero de cita</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Servicio</th>
                <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>96652</td>
      <td>Melissa</td>
      <td>4/07/2024 2:00PM</td>
      <td>Planchado</td>
      <td>
                <a href="" style="text-decoration: none;">Agregar notas</a> |
                <a href="" style="text-decoration: none;">Modificar Cita</a> |
                <a href="" style="text-decoration: none;">Cancelar Cita</a>
            </td>
    </tr>
    <tr>
      <td>25612</td>
      <td>Melissa</td>
      <td>6/11/2024 11:00AM</td>
      <td>Corte de cabello</td>
      <td>
                <a href="" style="text-decoration: none;">Agregar notas</a> |
                <a href="" style="text-decoration: none;" >Modificar Cita</a> |
                <a href="" style="text-decoration: none;" >Cancelar Cita</a>
            </td>
    </tr>
  </tbody>
</table>