@model IEnumerable<DAL.Servicio>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <br />
    <br />
    <h1 class="titulos_cat">SERVICIOS</h1>
    <div class='cards'>
        <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
    
            <div class="col">
                <div class="card h-100">
                      @if (item.ImagenServicio != null && item.ImagenServicio.Length > 0)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImagenServicio))" class="card-img-top" width="100" height="200" />
                        }
                        else
                        {
                            <span>No se cargo una imagen</span>
                        }
                    <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <h6>₡ @Html.DisplayFor(modelItem => item.Precio)</h6>
                        <p class="card-text">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                        </p>
                        <br />
                        <br />
                        
                          <a class="w-40 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-controller="Citas" asp-action="Create" asp-route-servicioId="@item.ServicioId">Agendar cita</a>
                            
                    </div>
                </div>
            </div>
            
    }

        </div>
    </div>
</body>