@model DAL.ApplicationUser

@*<h2>Eliminar Cuentas de Usuario</h2>*@

<br>
<br>
<br>
<div class="home">
    <h3>¿Estás seguro que quieres eliminar a @Model.Email?</h3>
    <hr />
    <br />
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="w-100 btn btn-lg  btn-dark" />
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Cancelar</a>
    </form>
</div>