@model DAL.ApplicationUser



<br>
<br>

<div>
    <h3>¿Estás seguro que quieres bloquear a @Model.Email?</h3>
    <br>
    <form asp-action="LockedConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-dark">Bloquear</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<br>
<br>
<br>

@*<div>
    <a class="w-40 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver</a>
</div>*@