
@model DAL.ApplicationUser



<br>
<br>


<div class="home">
    <h3>¿Estás seguro que quieres desbloquear a @Model.Email?</h3>
    <hr />
    <br />
    

    <form asp-action="UnlockConfirmed" method="post">

        <input type="hidden" asp-for="Id" />
        <button type="submit" class="w-100 btn btn-lg  btn-dark">Desbloquear</button>
        <br />
        <br />
        <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Cancelar</a>
    </form>
</div>
<br>
<br>
