@{
    ViewData["Title"] = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<br />
<br />

<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Pedido #5468
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Proveedor: Salerm</li>
    <li class="list-group-item">Puntualidad: 10</li>
    <li class="list-group-item">Calidad de producto: 10</li>
    <li class="list-group-item">
    <a href="" style="text-decoration: none;">Modificar Calificacion</a>
    </li>
  </ul>

</div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pedido #5468
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proveedor: Super Salon</li>
            <li class="list-group-item">Puntualidad: 10</li>
            <li class="list-group-item">Calidad de producto: 10</li>
            <li class="list-group-item">
                <a href="" style="text-decoration: none;">Modificar Calificacion</a>
            </li>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pedido #8954
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proveedor: Matz Beauty</li>
            <li class="list-group-item">Puntualidad: 10</li>
            <li class="list-group-item">Calidad de producto: 10</li>
            <li class="list-group-item">
                <a href="" style="text-decoration: none;">Modificar Calificacion</a>
            </li>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pedido #3265
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proveedor: Salerm</li>
            <li class="list-group-item">Puntualidad: 5</li>
            <li class="list-group-item">Calidad de producto: 10</li>
            <li class="list-group-item">
                <a href="" style="text-decoration: none;">Modificar Calificacion</a>
            </li>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pedido #7845
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proveedor: Salerm</li>
            <li class="list-group-item">Puntualidad: 10</li>
            <li class="list-group-item">Calidad de producto: 10</li>
            <li class="list-group-item">
                <a href="" style="text-decoration: none;">Modificar Calificacion</a>
            </li>
        </ul>

    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pedido #9653
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Proveedor: Super Salon</li>
            <li class="list-group-item">Puntualidad: 8</li>
            <li class="list-group-item">Calidad de producto: 10</li>
            <li class="list-group-item">
                <a href="" style="text-decoration: none;">Modificar Calificacion</a>
            </li>
        </ul>

    </div>
</div>