@model DAL.Promocion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row fondoTransparente">
    <h1>Crear Promoción</h1>
    <hr />
    <br />
    <div class="col-md-7">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ImagenPromocion" class="form-label">Imagen de la promoción</label>
                <input type="file" accept="image/png" class="form-control" name="ImagenPromocion" />
            </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select asp-for="ServicioId" class ="form-control" asp-items="ViewBag.ServicioId"></select>
            </div>
            <div class="text-center">
                <input type="submit" style="background-color:pink; color: black;" value="Crear" class="w-50 btn btn-lg  btn-dark" />
                <a asp-action="Index" class="w-100 btn btn-lg btn-dark">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
