@model DAL.Cita

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row registration-section">
    <h2>Editar Cita</h2>
    <hr />
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CitaId" />
            <input type="hidden" asp-for="Estado" />
        <div class="form-group">
            <label asp-for="ClienteId" class="control-label"></label>
            <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="ServicioId" class="control-label"></label>
                <select asp-for="ServicioId" class="form-control" asp-items="ViewBag.ServicioId"></select>
                <span asp-validation-for="ServicioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" type="time" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <textarea asp-for="Notas" class="form-control"></textarea>
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
            <input type="submit" value="Guardar" class="w-50 btn btn-lg  btn-dark" />
            <br />
           
            @if (User.IsInRole("Estilista"))
            {
                <button type="submit" formaction="@Url.Action("Finalizar", "Citas", new { id = Model.CitaId })" class="w-50 btn btn-lg btn-success">
                    Confirmar cita finalizada
                </button>
            }
            <br />
            <br />
            <a class="w-100 btn btn-lg  btn-dark" style="background-color:pink; color: black;" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function finalizarCita() {
            if (confirm("¿Estás seguro de que deseas finalizar esta cita?")) {
                document.getElementById("Estado").value = 0;
                document.forms[0].submit();
            }
        }
    </script>
}
